h1 {
    color: darkviolet;
}

body {
    background-color: #2f2f2f; /* Tumman harmaa väri */
    color: white; /* Tekstin väri valkoinen, jotta se erottuu tummasta taustasta */
}

.container {
    background-color: #2f2f2f; /* kontainerin tausta on tummanharmaa */
}

.center {
    background-color: #2f2f2f; /* Asetetaan taustaväri myös keskitetylle sisällölle */
}

.center {
    text-align: center; /* <center>-tagin käyttäminen (index.html) ei ole suositeltavaa, koska se on "vanhentunut HTML:ssä" kuulemma. Sen sijaan voi käyttää CSS:ää sisällön keskittämiseen. */
}

.card {
    color: black; /* Asetetaan tekstin väri mustaksi */
}

.card-body {
    color: black; /* Varmistetaan, että myös body-osan teksti on mustaa */
}

/* Varasto-otsikon väri */
.varasto-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Varastotaulukon muotoilu */
.varasto-table {
    width: 100%;
    background-color: #2f2f2f; /* Taulukon taustaväri */
    color: white; /* Tekstin väri */
    border: 1px solid #444; /* Reunaviiva */
}

/* Otsikon rivin muotoilu */
.varasto-table thead tr {
    background-color: #444; /* Tummanharmaa otsikkorivi */
    color: white; /* Valkoinen teksti */
}

/* Taulukon rivien hover-efekti */
.varasto-table tbody tr:hover {
    background-color: #555; /* Vaaleampi harmaa hover-tila */
}

/* Taulukon soluissa oleva teksti */
.varasto-table tbody td {
    padding: 10px;
    color: white;
}
