{% extends 'index.html' %}

{% block content %}

<div class="card" style="width: 25rem;">
    <div class="card-header">

        <h5>Muokkaa {{tuote.tuotenimi}} jota toimittaa {{tuote.toimittaja.yritysnimi}}</h5>

        <div class="card-body">
            <form method="post" action="/edit-tuote-post/{{tuote.id}}/">

                {%csrf_token %}
                <div class="form-group">
                    <label>Hinta</label>
                    <input type="number" name="kappalehinta" value="{{tuote.kappalehinta}}" step="0.01">
                </div>
                <div class="form-group">
                    <label>Varastossa</label>
                    <input type="number" name="tuotteitavarastossa" value="{{tuote.tuotteitavarastossa}}" step="1">
                </div>
                <input type="submit" value="Update" class="btn btn-success btn-sm">
                <input type="button" onclick="window.location.href='/tuotteet'" id="hide-btn"
                    class="btn btn-secondary btn-sm" value="Cancel">
            </form>
        </div>
    </div>
</div>


{% endblock %}