<!-- # Ainoa "täydellinen HTML sivu", tähän renderöidään muut sivut, niin ei tarvitse muihin sivuihin tehdä kaikkia HTML määrityksiä -->
 <!DOCTYPE html>
 <html>

<head>
    <title>Simon S-Rauta</title> 

    <meta charset="UTF-8">

    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
<!-- # Navigointi nappien viittaukset jotta toimii -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- # Tuodaan tyylit ulkoisesta css tiedostosta -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


</head>
<!-- #"Center" kaikki sisältö automaattisesti keskitetään -->
 <!-- # "Block content / endblock" sisälle (väliin) renderöidään kaikki muut sisältö sivut mitä tehdään -->
 <body>
    <div class="container center">
        <!-- # Navigointi buttonit -->
        <div class="btn-group" role="group">
            <a class="btn btn-warning btn-sm" href="/toimittajat">Tarkastele toimittajia</a>
            <a class="btn btn-success btn-sm" href="/tuotteet">Tarkastele tuotteita</a>
            <a class="btn btn-primary btn-sm" href="/admin">Admin sivut</a>
        <!-- Logout-nappi lomakkeella -->
            <form action="{% url 'logout_action' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Kirjaudu ulos</button>
            </form>
        </div>

        {% block content %}

        {% endblock %}
    </div>
</body>


 </html>