{% extends 'index.html' %}

{% block content %}

<br />
<div id="add-div"></div>
<br />

<h1 style="color: darkviolet">Suppliers</h1>

<button id="add-btn" class="btn btn-success btn-sm" onclick="showaddform()">Lisää uusi toimittaja</button>

<!-- # Form lähettää search suppliers urliin pyynnön (formin sisältö mukaan "name=search" sisältö) -->
        <form method="post" action="/etsi-toimittaja/">

            {%csrf_token %}
            <input class="card-text" class="card-text" type="text" placeholder="search" name="search">

            <input type="submit" value="Search" class="btn btn-success btn-sm" name="">
        </form>
  

{% for s in toimittaja %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">{{s.yritysnimi}}</h4>
        <p class="card-text">{{s.yhteyshenkiö}} | phone: {{s.puhelin}} | email: {{s.sähköposti}} </p>
        <p class="card-text">Address: {{s.osoite}} | Country: {{s.maa}}</p>

        <a href="/edit-toimittaja-get/{{s.id}}/" class="btn btn-primary">Edit</a>
        <a href="/confirm-delete-supplier/{{s.id}}/" class="btn btn-danger">Delete</a>
        <a href="/tuote-toimittajan-mukaan/{{s.id}}/" class="btn btn-secondary">{{s.yritysnimi}} Products</a>
    </div>
</div>


{%endfor%}

<!-- #Javascript -->
<script>

    let x = `
    <h2 style="color: lightblue">Täytä tiedot</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/lisää-toimittaja/">
    
                {% csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="yrityksen nimi" name="yritysnimi">
                <input class="card-text" type="text" placeholder="contact person" name="yhteyshenkilö">
                <input class="card-text" type="text" placeholder="osoite" name="osoite">
                <input class="card-text" type="text" placeholder="puhelin" name="puhelin">
                <input class="card-text" type="text" placeholder="sähköposti" name="sähköposti">
                <input class="card-text" type="text" placeholder="maa" name="maa">
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = x
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}