{% extends 'index.html' %}

{% block content %}

<br />
<!-- Lisäyslomakkeen paikka -->
<div id="add-div"></div>
<br />

<h1>Tuotteet</h1>

<a onclick="showaddform()" class="btn btn-primary">Lisää uusi tuote</a>

<form method="post" action="/etsi-tuote/">
    {% csrf_token %}
    <input class="card-text" type="text" placeholder="Hae tuotetta" name="search">
    <input type="submit" value="Hae" class="btn btn-success btn-sm">
</form>


{% for p in tuotteet %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">{{ p.tuotenimi }}</h3>
        <h5 class="card-text">Toimittaja: {{ p.toimittaja.yritysnimi }}</h5>
        <p class="card-text">Tuotteen hinta: {{ p.kappalehinta }} euroa</p>
        <p class="card-text">Tuotteen paino: {{ p.painoperkappale }}</p>
        <p class="card-text" style="color: green;">Määrä varastossa: {{ p.tuotteitavarastossa }}</p>
        <a href="/edit-tuote-get/{{ p.id }}/" class="btn btn-primary">Muokkaa</a>
        <a href="/vahvista-tuote-poisto/{{ p.id }}/" class="btn btn-danger">Poista</a>
    </div>
</div>
{% empty %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">En löytänyt tuotteita tietokannasta ! </p>
    </div>
</div>

{%endfor%}

<!-- Takaisin toimittajalistaukseen -->
<a href="/toimittajat/" class="btn btn-secondary">Takaisin toimittajalistaukseen</a>



<script>

    let y = `
    <h2 style="color: darkorange;">Täytä tiedot</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/lisää-tuote/">
                {%csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="tuote nimi" name="tuotenimi">
                <input type="text" name="kappalehinta" placeholder="Kappalehinta">
                <input class="card-text" type="text" placeholder="paino per kpl" name="painoperkappale">
                <input class="card-text" type="text" placeholder="varasto tilanne" name="tuotteitavarastossa">
                <br />
                <label for="toimittaja">Toimittaja</label>
                <select id="toimittaja" name="toimittaja">
                    {% for s in toimittajat %}
                        <option value="{{s.id}}">{{s.yritysnimi}}</option>
                    {% endfor %}
                </select>

                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = y
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}